$color-chinese-black: #111111;
$color-raisin-black: #212121;
$color-granite-grey: #646464;
$color-khaki: #CAA892;
$color-white: #FFFFFF;
$color-deep-aquamarine: #37806B;
$color-bronze: #B0855B;
$color-cultured: #F8F8F8;
$color-light-grey: #D5D5D5;